#app {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
}

/* Animate Shapes */
.shape {
	will-change: transform;
	transform-style: preserve-3d;
	transition-property: all;
	transition-duration: 0.8s;
}
.shape-full {
	transform: scale3d(100, 100, 1);
}
